 
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
 body{
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Montserrat', sans-serif;
  }
 .table{
    border :1px solid;
    display:flex;
    flex-direction: row;
    gap:25px;
    margin-bottom: 300px;
    background-color: bisque;
   min-width: 600px;
  min-height: 200px;
 }
 form{
   width: 250px;
   height: 125px;
    visibility: hidden;
    margin-bottom: 200px;
    position:absolute;  
  }
 input{

 }
 .header{
  font-family: 'Montserrat', sans-serif;

 }
 #submit{
  background-color:green;
  padding:15px 30px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 20px;
}
 #submit:hover{
  background-color:royalblue;
 }
fieldset{
  background-color:black;
  color:white;
  border: 10px solid brown;

}
td{
  display:flex;
   width: 250px;
  height:125px;
  background: gray;
  color:white;
  }
input{
  padding:15px;
}
/*JAVASCRİPT*/
#divj{
  display:flex;
  flex-direction:row;
  width:200px;
  height: 100px;
  color:black;
  text-align: center;
  background-color:antiquewhite;
  flex-wrap: wrap;
}